:root {
  --first-color: #d86cdf;
  --second-color: #724759;
  --third-color: #9fd9ac;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --gradient-color: linear-gradient(75deg, #fceef9 20%, #d4eed5 60%);
}

body {
  color: black;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.dark {
  color: white;
  background: black;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  img .img {
    width: 200px;
    text-align: center;
  }
}
@media (min-width: 300px) {
  img .img {
    width: 300px;
    text-align: center;
  }
}

.svg {
  max-width: 100px;
  margin: 5px 10px;
  border-radius: 30px;
}

nav {
  border-radius: 0 0 20px 20px;
  background-color: #b2f6c1;
}
nav ul {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  margin-right: 30px;
  padding: 10px 10px;
  color: black;
  font-weight: 500;
  text-decoration: none !important;
}

nav a:hover,
nav li.active a {
  color: #d713e5;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  max-width: 300%;
}

.toggle-button {
  font-size: 25px;
  padding: none !important;
  margin: none !important;
  color: rgb(97, 97, 97);
  border-radius: 10px;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  text-shadow: var(--shadow);
}
h2 {
  text-align: center;
  font-size: 40px;
  text-shadow: var(--shadow);
}

h3 {
  text-align: center;
  margin: 10px auto;
  padding: 10px 10px;
  text-shadow: var(--shadow);
}

.button-first {
  background: var(--first-color);
  box-shadow: var(--shadow);
}
:hover.button-first {
  background: var(--first-color) !important;
  box-shadow: var(--shadow) !important;
}
.button-second {
  border: solid 1px var(--first-color) !important;
  box-shadow: var(--shadow);
}

.img {
  margin: 10px 10px;
  padding: 10px;
  border: solid 5px #b0deba;
  border-radius: 50%;
  box-shadow: 10px 10px 10px grey;
}

.img-project {
  width: 500px;
}

.about-content {
  background: var(--gradient-color);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  line-height: 1.5;
}

.content-inner {
  color: black;
  border: solid 1px rgb(250, 250, 250);
  background: #fbf3f6;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  line-height: 1.5;
}

.about-sign {
  color: var(--second-color);
  text-decoration: underline;
}
a {
  color: var (--first-color);
}
.contact-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #d86cdf;
}

i {
  color: black !important;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9fd9ac;
}

#contact {
  font-size: 30px;
}

.about {
  display: flex;
  justify-content: center;
}

.contact {
  color: var(--first-color) !important;
}

.mailto {
  font-style: italic;
  font-weight: bold;
  color: #03891e !important;
}

.mailto:hover {
  color: #444b3d;
  text-decoration: underline !important;
}
.png:hover {
  transform: scale(1.1);
}

.icon-links {
  color: black;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
}

.coded {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}

.work-head {
  font-size: 60px;
  margin-bottom: 100px;
}
